{{! This is a PARTIAL }}
<article class="post">
  <div class="title dark-background">
    <p class="post-title dark-background">{{title}}</p>
    <span>(Posted by {{user.username}} on {{format_date created_at}})</span>
  </div>
  <div class="meta">

    {{post_text}}
    |
    <a href="/post/{{id}}">
      View
      {{comments.length}}
      {{format_plural "comment" comments.length}}</a>
  </div>
</article>